h1 {
	text-align: center;
	font-size: 120%;
}
h2 {
	text-align: center;
	font-size: 110%;
}
p {
  text-align: center;
  width: 600;
}

html {
	background-color: #6D0BD6;
}

body {
	background-color: #D97F09;
	border: solid;
	border-color: silver;
}